<body>
	<div class="container">

		<header>

			<nav class="navbar navbar-expand-lg navbar-light bg-light p-5">
			  <a class="navbar-brand" href="/">
			  	<img src="/images/my-smart-home.svg" alt="My Smart Home" width="300" >
			  </a>
			  <ul class="navbar-nav ml-auto">
			    <li class="nav-item">
			      <a class="nav-link" href="/">Home</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/about">About</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/add-device">Add</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/device-status">Status</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/update-device">Update</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="/delete-device">Delete</a>
			    </li>
			  </ul>
			</nav>
		</header>
	</div>

	<div class="container p-5">