<!doctype html>
<html>

<head>
    <%- include('partials/head.html'); %>
</head>

	<!-- header and nav bar -->
	<%- include('partials/header.html'); %>
		    
	<div class="row">
		<div class="col-md-6">
		<p class="lead">Welcome to your smart home control panel.</p>

		<p>Here you can manage all aspects of your smart home! Visit the Add Device page to add a new device to your smart home or update existing devices via the Update Device page.</p>

		<p>This app was developed using Node, EJS and Bootstrap. Developed by Christian Bell</p>

		<p>We hope you enjoy your Smart Home</p>
	

	<!-- footer -->
	<%- include('partials/footer.html'); %>

</html>